.ajax-load-more-wrap {
  width: 100%;
  .alm-reveal{
    display: flex;
    justify-content: space-between;
    // &::after {
    //   content: '';
    //   flex: 1 0 280px;
    // }
  }
}
// .alm-listing {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }
