
////


.card, .card-large {
  box-sizing: border-box;
  font-family: $font;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0 -5px rgba(0, 0, 0, 0.0);
  color: #272727;
  border: 1px solid $grey;
  border-radius: 5px;
  margin: 50px auto 20px;

  p {
    @include font(p);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.28px;
    margin: 0 auto;
    a {
      @include font(p);
      color: $grey;
    }
  }
  .card-content {
    border-radius: 0 0 5px 5px;
    h2 {
      @include font(h2);
      text-align: center;
      letter-spacing: -0.48px;
      line-height: 28px;
      margin: 0 auto;
      padding:0 1rem 0;
    }
    p {
      @include font(p);
      // text-align: center;
      text-transform: none;
      word-break: break-all;
      letter-spacing: 0.28px;
      line-height: 19px;
      width: 100%;
      height: 38px;
      overflow: hidden;
      padding: 0;
    }
  }

  .action {
    // width: 180px;
    margin: 20px auto 0;
    // .bookBtn {
    //   @include btn($green, $white, 180px, 44px);
    // }

  }

  .image {
    position: relative;
    border-radius: 5px 5px 0 0;
    // max-height: 200px;
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff;
    }
    img {
      border-radius: 5px 5px 0 0;
    }
  }
}




.card {
  position: relative;
  max-width: 280px;
  width: 280px;
  height: 470px;
  transition: box-shadow 0.4s ease-in-out;
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  }
  .icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    max-width: 35px;
    width: 100%;
    height: 25px;
    margin: 13px auto 10px;

    .icon-sailing {
      width: 42px;
        margin:  11px auto 0;
    }
    .icon-food {
      width: 21.88px;
      margin: 13px auto 0;
    }
    .icon-cycling {
      width: 30px;
        margin: 20px auto 0;
    }
    .icon-animal-life {
      width: 29px;
      margin: 17px auto 0;
    }
    .icon-hiking-large-card{
      width: 30px;
      margin: 12px auto 0;
    }
  }
  p {

  height: 14px;
  margin-top: 6px;

  }
  .card-content {
    margin-top: 14px;
      padding:0 20px 0;
    h2{
      width: 210px;
      height: 56px;
      overflow: hidden;
    }
    p {
      height: 38px;
      overflow: hidden;
      text-align: center;
      margin: 12px auto 0;
    }
  }
  // .action{
  //   width: 180px;
  //   height: auto;
  //   position: relative;
  // }
  .bookBtn {
    position: absolute;
    left: 50%;
    bottom: 29px;
    @include btn($green, $white, 180px, 43px, 0 0 0 -90px);

  }
  .image{
    max-height: 200px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  // @include breakpoint(small down){
  //   @include grid-column-collapse;
  // }
  // @include breakpoint(medium down){
  //     @include grid-column-collapse;
  // }
  // @include breakpoint(large down){
  //   @include grid-column-collapse;
  // }
}

.card-large {
  position: relative;
  max-width: 580px;
  width: 580px;
  height: 550px;
  transition: box-shadow 0.4s ease-in-out;
  &:hover {
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  }
  .icon {
    // background: url(../icon/hikingSummer.svg) 50% 50% no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    max-width: 35px;
    width: 100%;
    height: 25px;
    margin: 13px auto 10px;
    .icon-sailing {
      width: 42px;
        margin:  11px auto 0;
    }
    .icon-food {
      width: 21.88px;
      margin: 13px auto 0;
    }
    .icon-cycling {
      width: 30px;
        margin: 20px auto 0;
    }
    .icon-animal-life {
      width: 29px;
      margin: 17px auto 0;
    }
    .icon-hiking-large-card{
      width: 30px;
      margin: 0 auto;
    }
  }
  p {

    line-height: 20px;
  }
  .card-content {
    margin-top: 12px;
    padding:0 1rem 0;
    h2{
      @include font(h2);
      width: 210px;
      height: 40px;
      overflow: hidden;
      width: 403px;
    }
    p {
      text-align: left;
      margin: 0 auto 0;
      padding: 0 20px;
      height: 100px;
      word-wrap: normal;
    }
  }

    .readMoreBtn {
      position: absolute;
      left: 50%;
      bottom: 29px;
      @include btn($green, #fff, 180px, 43px, 0 0 0 -90px);
    }

  .image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 250px;
    height: 100%;
  }
}

#cards {
  display: inline-flex;
  overflow: hidden;
  height: 650px
}


.hentry header {
  border-bottom: none;
}

#big-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.show-more {
  @include font(button);
  color: $darkgrey;
  width: 100%;
  height: 43px;
  overflow: hidden;
  border: 1px solid $grey;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 1px 70px 0 rgba(0, 0, 0, 0.2);
    color: $darkgrey;
  }
}

// .card:first-child {
//   margin: 0 0 30px 0;
//   float: left;
// }
// .card:last-child {
//   margin: 0 0 30px 0;
//   float: right;
// }
