.filter-container {
  overflow: visible;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  width: 981px;
  height: 70px;
  top: 588px;
  left: 50%;
  margin-left: -(980/2)*1px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $grey;

    .activities-container {

      box-sizing: border-box;
      // padding: 5px 0 0 20px;
      height: 100%;
      max-width: 400px;
      border-right: 1px solid $grey;
      label {
        margin:5px 0 0 20px;
      }
      #activities-search {
        @include disable-mouse-outline;
        margin-left: 20px;
        width: 360px;
        border: none;
        height: 28px;
        @include font(filter);
        border-bottom: solid transparent 1px;
        transition: border-bottom 0.5s ease-in-out;
        &:focus {
          border-bottom: solid $green 1px;
        }
      }
    .select2-container--default {
      box-sizing: border-box;
      .select2-selection--single {
        background-color: white;
        border: none;
        border-radius: none;
        cursor: text;
        @include disable-mouse-outline;
        margin-left: 20px;
        width: 360px;
        border: none;
        height: 28px;
        @include font(filter);
        border-bottom: solid transparent 1px;
        transition: border-bottom 0.5s ease-in-out;
        &:focus {
          border-bottom: solid $green 1px;
        }
      }
      .select2-selection__rendered {
        @include font(filter);
        border-bottom: solid transparent 1px;
        transition: border-bottom 0.5s ease-in-out;
        &:focus {
          border-bottom: solid $green 1px;
        }
      }
    }
    }
    .when-container {
      overflow: hidden;
      box-sizing: border-box;
      max-width: 180px;
      border-right: 1px solid $grey;
      height: 100%;
      label {
        margin:5px 0 0 20px;
      }
      #from {
        @include font(filter);
        height: 28px;
        width: 128px;
        padding: 0;
        margin-left: 20px;
        border: none;
        box-shadow: none;
        border-bottom: solid transparent 1px;
        transition: border-bottom 0.5s ease-in-out;
        &:focus {
          border-bottom: solid $green 1px;
        }
      }

    }
    .party-container {
      box-sizing: border-box;

      // border-right: 1px solid $grey;
      height: 100%;
      label {
        margin:5px 0 0 20px;
      }
      #counter {
        @include font(filter);
        height: 28px;
        width: 128px;
        padding: 0;
        margin-left: 20px;
        border: none;
        box-shadow: none;
        border-bottom: solid transparent 1px;
        transition: border-bottom 0.5s ease-in-out;
        &:focus {
          border-bottom: solid $green 1px;
        }
      }
    }
    .button-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .btn {
        @include button;
        margin-right: 14px;

      }
    }
}

.ui-widget.ui-widget-content {
  margin: 30px 0 0 -20px;
  width: 627px !important;
  padding: 20px;
  border-radius: 5px;
  border: none;
  &::before {
    @include css-triangle(20px, #fff, up);
    top: -20px;
    left: 45px;
    margin-left: -20px;
    position: absolute;
  }

  .ui-datepicker-group {
    .ui-widget-header {
      border: none;
      background: transparent;
      @include font(date);
    }
  }
}
