#footer-container {
  border: none;
  border-top: none;
}

.wt-footer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 226px;
  background-color: $bodygrey;
  align-self: center;
  align-items: center;
  justify-content: center;
  @include breakpoint(small down) {
    height: 277px;
  }

  .wt-footer-smedia {
    display: inherit;
    // flex-direction: column;
    width: 100%;
    margin: 69px 0 63px;
    align-self: center;
    justify-content: center;

    .wt-footer-smedia-list {
      position: relative;
      display: inline-flex;
      justify-content: space-between;
      width: 50%;
      @include breakpoint(small down) {
        width: 90%;
        justify-content: space-around;

        &::after {
          position: absolute;
          content: '';
          width: 90%;
          left: 5%;

          height: 1px;
          background: $grey;
          bottom: -39px;
        }
      }

      &::before {
        position: absolute;
        content: '';
      }
    }
    @include breakpoint(small down) {
      margin: 69px 0 30px;

    }
  }

  .wt-footer-adress-secton {
    position: relative;
    display: flex;
    justify-content: center;
    @include breakpoint(small donw) {
      width: 90%;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;

      border-top: 1px solid $grey;
      @include breakpoint(small down) {
        display: none;
      }
    }

    .wt-footer-contact {
      display: flex;
      justify-content: space-around;
      width: 66%;
      @include breakpoint(medium down) {
        width: 90%;
      }
      @include breakpoint(small down) {
        width: 100%;
        height: 96px;
        margin-top: 10px !important;
      }

      li {
        flex-grow: 1;
        justify-content: center;
        @include font(footer);
        margin-top: 15px;
        text-align: center;
        align-self: center;
        height: 20px;
        line-height: 20px;
        color: $darkgrey;
        padding: 0 1%;

        a {
          display: flex;
          // align-self: flex-start;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          line-height: 16px;
          height: 20px;
          color: $darkgrey;
          text-align: center;

        }
        @include breakpoint(small down) {

          border: none;
          font-size: 14px;
          line-height: 16px;
          height: 18px;
          margin-top: 5px;
          width: 100%;

          a {
            display: flex;
            // align-self: flex-start;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            line-height: 16px;
            height: 20px;
            color: $darkgrey;
            text-align: center;

          }
        }
      }

      li:nth-of-type(1) {
        @include borderLines(0, 0, 0, 0, $grey);
        // padding: 0 25px 0;

        @include breakpoint(small down) {
          @include borderLines(0, 0, 0, 0, $grey);
        }
      }

      li:nth-of-type(2) {
        @include borderLines(0, 1px, 0, 1px, $grey);
        // padding: 0 15px 0;
        @include breakpoint(small down) {
          @include borderLines(0, 0, 0, 0, $grey);
        }
      }

      li:nth-of-type(3) {
        @include borderLines(0, 1px, 0, 0, $grey);
        // padding: 0 10px 0;

        a {
          transition: color 0.3s ease-in-out;
          @include underline-from-center-small;
          @include font(mail);
          // height: 14px;
          display: flex;
          // align-items: flex-start;
        }
        @include breakpoint(small down) {
          @include borderLines(0, 0, 0, 0, $grey);

          a {
            color: $darkgrey !important;

          }
        }
      }

      li:nth-of-type(4) {
        padding: 0;

        a {
          transition: color 0.3s ease-in-out;
          @include underline-from-center-small;
          @include font(mail);

          color: $darkgrey !important;

        }
      }

      li {
        @include breakpoint(small down) {
          @include borderLines(0, 0, 0, 0, $grey);

          a {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 18px;
          }
        }
      }

      @include breakpoint(small down) {
        flex-direction: column;
        width: 90%;
      }
    }
  }

}
