

.title-bar {
  position: absolute;;
  display: flex;
  justify-content: center;
  background-color: transparent;
  .title-bar-title {
    position: absolute;
    margin-top:10px;
  }
}

.menu-burger {
  position: absolute;
  top:10px;
  right: 20px;
  background: transparent;
  width: 50px;
  height: 50px;
  z-index: 999;
}

.main-nav-container {
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  background-color: tansparent;
  transition: background-color 0.5s ease-in-out, box-shadow 1.2s ease-in-out;
  z-index: 2;
  &:hover {
    background-color: #fff;
  }
  .top-bar {
    display: flex;
     justify-content: space-between;
    height: 100px;
    background-color: transparent;
    .top-bar-left{
      width: 25%;
      margin-left: 10px;
      background-color: transparent;
      ul {
          background-color: transparent;
        li {

          a {
              background-color: transparent;
              padding: 0;
            &:hover {
              background-color: transparent;
            }
            img {

            }
          }
        }
      }
    }
    .top-bar-center {
      width: 40%;
        .desktop-menu {
          width: 80%;
          display: flex;
          justify-content: space-around;
           background-color: transparent;
           .current_page_item {
             &:before {
               content: "";
               position: absolute;
               z-index: -1;
               width: 100%;
               left: 0;
               right: 50%;
               bottom: 0px;
               background: $green;
               height: 4px;
               @include prefixed(transition-property, "left, right");
               @include prefixed(transition-duration, 0.5s);
               @include prefixed(transition-timing-function, ease-out);
             }
             &:hover,
             &:focus,
             &:active {
               &:before {
                 left: 0;
                 right: 0;
               }
             }
           }

          li {
             @include underline-from-center;
             overflow: visible;
             display:inline-flex;
             align-items: center;
             height: 100px;


            a {
              @include font(nav);
              text-transform: uppercase;
              height:auto;
              padding: 0;
              &:hover {
                background-color: transparent;
              }
            }
            ul {

              //  display: block;
              box-sizing: border-box;
              padding: 67px 0 0 99px;
              position: absolute;
              background-color: #fff;
              width: 980px;
              height: 296px;
              column-count: 3;
              top: 128px;
              left: 50%;
              margin-left: -(980*0.4)*1px;
              border-radius: 5px;
              box-shadow: 0 2px 40px rgba(#000,0.2);
              // opacity: 0;

              &::before {
                	@include css-triangle(20px, #fff, up);
                  top: -20px;
                  left: 40%;
                  margin-left: -20px;
                  position: absolute;
              }
              li {
                height: 28px;

                &:before {

                  left: 0;
                  right: 0%;
                  bottom: 0px;
                  background: transparent;
                  height: 4px;

                }

                &:hover,
                &:focus,
                &:active {

                  &:before {
                    left: 0;
                    right: 0;
                  }
                }
              }
            }
          }
        }
    }
    .search-bar {
      display: relative;
      width: 35%;
      margin-right: 10px;
      ul {
        float: right;
        width: 70%;
        margin: 0;
        background-color: transparent;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        li {
          position: relative;
          display: flex;
          align-items: center;
          height: 100px;
          select {
            margin: 0;
          }

          // .easy-dropdown {
          //   div {
          //
          //     ul {
          //       display: flex;
          //       flex-direction: column;
          //       li {
          //         display: flex;
          //         flex-direction: column;
          //       }
          //     }
          //   }
          // }

        }
        .lang {
          &::before {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            left: -20px;
            background: url('../images/icons/langGlobe.svg') no-repeat;
          }
          &::after {
            position: absolute;
            content: '';
            width: 17px;
            height: 9px;
            right: 10px;
            background: url('../images/icons/downArrowBlk.svg') no-repeat;
          }
        }
      }
    }
  }
}
.easy-dropdown.open div {
    position: absolute;
    overflow: visible;
    opacity: 1;
    z-index: 2;
    height: 120px !important;
    margin-top: 35px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(#000,0.15);
    &::before {
        @include css-triangle(15px, #fff, up);
        margin: -15px 0 0 15px;
    }
    ul {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center;
      width: 100% !important;
      height: 100px !important;
      margin-top: 20px !important;
      border-radius: inherit;
      li {
        width: 100% !important;
        // height: 100px !important;
        transition: background-color 0.5s ease-in-out;
        text-align: center !important;
        &:hover {
          background-color: $green;
        }
      }
    }
  }

.set-nav-position {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 1px 40px rgba(#000,0.2);
}

.anti-transparent-background-2000 {
  background-color: #fff;
  // position: relative;
}

.menu-animation {
  animation: opacityAn 0.5s 0.2s forwards ease-in-out;
}

// mobile nav


  #mobile-menu {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .mobile-nav-search{
      height: auto;
      margin-top: 20vh;

      width: 90vw;
      input {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid $green;
      }
    }
    #menu-main {
      height: auto;
      width: 90vw;
      margin-top: 10px;
      // border-top: 1px solid $green;
      border-bottom: 1px solid $green;
      li {

      }
    }

  }
