body {
  background-color: $bodygrey;
}

label {
  @include font(label);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1 {
  @include font(h1);
}
h2 {
  @include font(h2);
}
p {
  @include font(p);
}
a {
  @include font(a);
}
