@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$font: 'Open Sans', sans-serif;
$h1Size: rem-calc(28, 16);
$h2Size: rem-calc(24, 16);
$pSize: rem-calc(14, 14);

// colors
$blue: #3BB2D0;
$green: #56B881;
$red: #E55E5E;
$yellow: #FBB03B;
$black: #2A2B2A;
$darkgrey: #686C68;
$grey: #CED1CC;
$lightgrey: #EAEBE9;

$bodygrey: #F2F4F1;
