/* Underline From Center */
@mixin underline-from-center {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 50%;
		right: 50%;
		bottom: 0;
		background: $green;
		height: 4px;
		@include prefixed(transition-property, "left, right");
		@include prefixed(transition-duration, 0.5s);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:active,
	&:focus,
	&:hover {
		&:before {
			left: 0;
			right: 0;
		}
	}
}

@mixin underline-from-center-small {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 50%;
		right: 50%;
		bottom: -5px;
		background: $green;
		height: 1px;
		@include prefixed(transition-property, "left, right");
		@include prefixed(transition-duration, 0.5s);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:active,
	&:focus,
	&:hover {
		&:before {
			left: 0;
			right: 0;
		}
	}
}
@mixin underline-from-center-mod {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 50%;
		right: 50%;
		bottom: -5px;
		background: $green;
		height: 2px;
		@include prefixed(transition-property, "left, right");
		@include prefixed(transition-duration, 0.5s);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:active,
	&:focus,
	&:hover {
		&:before {
			left: 0;
			right: 0;
		}
	}
}
